<h3>Edit Student Details</h3>

{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if}}
{{#each rows}}
<form method="post" action="/edituser/{{this.ID}}" autocomplete="false">

<div class="form-group">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{this.NAME}}">
</div>
<div class="form-group">
  <label for="age">Age</label>
  <input type="text" name="age" value="{{this.AGE}}">
</div>

<div class="form-group">
  <label for="city">City</label>
  <input type="text" name="city" value="{{this.CITY}}">
</div>


<div class="form-group">
  <button type="submit">Save Changes</button>
  <a href="/">View All</a>
</div>
</form>
{{/each}}
