<h3>Student Management System</h3>
<p><a href="/adduser" class="addbtn">Add User</a></p>
<table>
  <thead>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Age</td>
      <td>City</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
{{#each rows}}
    <tr>
      <td>{{this.ID}}</td>
      <td>{{this.NAME}}</td>
      <td>{{this.AGE}}</td>
      <td>{{this.CITY}}</td>
      <td><a class="edit" href="/edituser/{{this.ID}}">Edit</a></td>
      <td><a onclick="return confirm('Are you sure?')"  class="delete" href="/deleteuser/{{this.ID}}">Delete</a></td>
    </tr>
{{/each}}
  </tbody>
</table>